.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.formInput {
  padding: 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.formButton {
  padding: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
